@import 'src/styles/_vars.scss';

  .publiclayout {

  }
  
  .ctaFooter {
    display: inline;
    padding: 8px 16px;
    background-color: #0b6bcb;
    border-radius: 8px;
    color: #fff;
    margin: 0 8px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

